<LumexCard Class="py-1">
    <LumexCardHeader Class="pb-0 flex-col items-start">
        <p class="text-tiny font-medium uppercase">J.D. Vaughn</p>
        <small class="text-foreground-500">Cyberpunk Noir</small>
        <h4 class="font-semibold text-large">Neon Shadows</h4>
    </LumexCardHeader>
    <LumexCardBody>
        <LumexImage Src="assets/images/card-1.jpg"
                    Alt="Card image"
                    Width="270"
                    Radius="Radius.Medium"
                    Class="aspect-[4/3]"
                    Fit="@ObjectFit.Cover" />
    </LumexCardBody>
</LumexCard>
