<div class="grid grid-cols-3 gap-6 place-items-center">
    <LumexImage Src="https://picsum.photos/id/29/400/250" Width="150" />
    <LumexImage Src="https://picsum.photos/id/29/400/250" Height="150" />
</div>