<div class="grid grid-cols-4 gap-6">
    <LumexImage Src="https://picsum.photos/id/10/400/300" Alt="Lumex Image"  Shadow="@Shadow.None" Width="120" />
    <LumexImage Src="https://picsum.photos/id/10/400/300" Alt="Lumex Image" Shadow="@Shadow.Small" Width="120" />
    <LumexImage Src="https://picsum.photos/id/10/400/300" Alt="Lumex Image"  Shadow="@Shadow.Medium" Width="120" />
    <LumexImage Src="https://picsum.photos/id/10/400/300" Alt="Lumex Image" Shadow="@Shadow.Large" Width="120" />
</div>