<div class="grid grid-cols-4 gap-6">
    <LumexImage Src="https://picsum.photos/id/71/400/300" Alt="Lumex Image" Blur="@Blur.None" Width="120" />
    <LumexImage Src="https://picsum.photos/id/71/400/300" Alt="Lumex Image" Blur="@Blur.Small" Width="120" />
    <LumexImage Src="https://picsum.photos/id/71/400/300" Alt="Lumex Image" Blur="@Blur.Medium" Width="120" />
    <LumexImage Src="https://picsum.photos/id/71/400/300" Alt="Lumex Image" Blur="@Blur.Large" Width="120" />
</div>