<div class="grid grid-cols-4 gap-6">
    <LumexImage Src="https://picsum.photos/id/10/400/300" Shadow="@Shadow.None" Width="120" />
    <LumexImage Src="https://picsum.photos/id/10/400/300" Shadow="@Shadow.Small" Width="120" />
    <LumexImage Src="https://picsum.photos/id/10/400/300" Shadow="@Shadow.Medium" Width="120" />
    <LumexImage Src="https://picsum.photos/id/10/400/300" Shadow="@Shadow.Large" Width="120" />
</div>