<div class="w-full flex flex-col gap-4">
    <LumexProgressBar Value="60" 
                     Color="@ThemeColor.Primary"
                     Class="border-2 border-primary">
    </LumexProgressBar>

    <LumexProgressBar Value="80" 
                     Color="@ThemeColor.Success"
                     Classes="@(new ProgressBarSlots { Track = "shadow-medium" })">
    </LumexProgressBar>
</div>
