<div class="w-full flex flex-col gap-4">
    <LumexProgressBar IsLoadingBar="true" Color="@ThemeColor.Primary" />
    <LumexProgressBar IsLoadingBar="true" Color="@ThemeColor.Success" />
    <LumexProgressBar IsLoadingBar="true" Color="@ThemeColor.Info" />
</div>
