<div class="w-full flex flex-col gap-4">
    <LumexProgressBar Value="55" Radius="@Radius.None" Color="@ThemeColor.Primary" />
    <LumexProgressBar Value="55" Radius="@Radius.Small" Color="@ThemeColor.Primary" />
</div>
