<div class="flex items-center gap-2">
	<LumexKbd Keys="@([KeyboardKey.Command])">K</LumexKbd>
	<LumexKbd Keys="@([KeyboardKey.Command, KeyboardKey.Shift])">N</LumexKbd>
	<LumexKbd Keys="@([KeyboardKey.Option, KeyboardKey.Command])">P</LumexKbd>
</div>