<div class="flex gap-3 items-center">
    <LumexAvatar Src="https://i.pravatar.cc/150?u=a042581f4e29026024d" />
    <LumexAvatar Name="Daniel" />
    <LumexAvatar Src="https://i.pravatar.cc/150?u=a042581f4e29026704d" />
    <LumexAvatar Name="Jane" />
    <LumexAvatar Src="https://i.pravatar.cc/150?u=a04258114e29026702d" />
    <LumexAvatar Name="Joe" />
</div>