@namespace LumexUI.Docs.Client.Components
@inherits CodeSnippet

<div class="group relative"
     data-expanded="@_isExpanded.ToAttributeValue()">
    <div class="rounded-b-large overflow-hidden group-data-[expanded=false]:max-h-72">
        @{
            base.BuildRenderTree( __builder );
        }
    </div>

    <button type="button"
            class="absolute inset-x-0 bottom-0 flex h-20 items-center justify-center rounded-b-large bg-linear-to-b from-default-800/70 to-default-800 text-default text-small group-data-[expanded=true]:hidden"
            @onclick="@Expand">
        Expand
    </button>
</div>
