<div class="flex flex-col gap-4">
    <LumexCode Size="@Size.Small">dotnet add package LumexUI</LumexCode>
    <LumexCode Size="@Size.Medium">dotnet add package LumexUI</LumexCode>
    <LumexCode Size="@Size.Large">dotnet add package LumexUI</LumexCode>
</div>