<div class="w-full flex flex-col gap-8">
    <div>
        <LumexProgress Value="60" 
                       Label="Rainbow Energy"
                       ShowValueLabel
                       Size="@Size.Large"
                       Classes="@(new ProgressSlots { 
                           Track = "bg-gradient-to-r from-red-100 via-green-100 to-blue-100", 
                           Indicator = "bg-gradient-to-r from-violet-500 to-fuchsia-500"
                       })">
        </LumexProgress>
    </div>
</div>
