<div class="w-full flex flex-col gap-4">
    <LumexProgress Value="30" Size="@Size.Small" AriaLabel="Loading..." />
    <LumexProgress Value="40" Size="@Size.Medium" AriaLabel="Loading..." />
    <LumexProgress Value="50" Size="@Size.Large" AriaLabel="Loading..." />
</div>
