<div class="w-full flex flex-col gap-4">
    <LumexProgress Value="30" Size="@Size.Small" aria-label="Loading..." />
    <LumexProgress Value="40" Size="@Size.Medium" aria-label="Loading..." />
    <LumexProgress Value="50" Size="@Size.Large" aria-label="Loading..." />
</div>