<div class="w-full flex flex-wrap gap-4 md:flex-nowrap">
    <LumexDatebox TValue="DateTime?" Label="Date" />

    <LumexDatebox TValue="DateTime?"
                  Label="Date"
                  Placeholder="Enter a date" />
</div>