@import "tailwindcss" theme(static);
@import "../bin/lumexui/_theme";
@import "./prism" layer(components);
@import "./blazor" layer(components);
@import "./typography" layer(utilities);
@import "./fonts";
@import "./themes";

@source "../../LumexUI.Docs.Client/{Pages,Components}/**/*.{razor,razor.cs}"; /* docs */
@source "../bin/lumexui/*.cs"; /* components */

@plugin "@tailwindcss/typography";

@theme {
    --font-sans: Inter var, system-ui;
    --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    --font-mono: Fira Code var, ui-monospace;
}

@custom-variant scrollbar (&::-webkit-scrollbar);
@custom-variant scrollbar-track (&::-webkit-scrollbar-track);
@custom-variant scrollbar-thumb (&::-webkit-scrollbar-thumb);

.dark {
    --lumex-background: var(--color-zinc-950);
}

.bordered-link {
    @apply 
        font-semibold 
        leading-tight 
        text-current 
        border-b 
        border-current 
        hover:border-b-2;
}

@utility highlight-* {
    box-shadow: inset 0 1px 0 0 --alpha(--value(--color- *, [color]) / --modifier(integer)%);
}
